*, *::before, *::after { /* styling reset */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    opacity: 50%;
}

.container-80 {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-70 {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
}

.container-60 {
    width: 60%;
    max-width: 900px;
    margin: 0 auto;
}

img {
    width: 100%;
}

/*** color variables ***/
:root {
    --primary-color: #1f2937;
    --secondary-color: #3882f6;
    --logo-text-color: #f9faf8;
    --header-heading-color: #f9faf8;
    --header-text-color: #e5e7eb;
    --sign-up-color: #3882f6;
    --quote-bg-color: #e5e7eb;
    --quote-text-color: #1f2937;
}

/*** typography ***/

body {
    font-family: 'Roboto', sans-serif;
}

/** header **/

.header-logo-text {
    font-size: 24px;
    font-weight: 900;
    color: var(--logo-text-color);
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: var(--header-heading-color);
    line-height: 0.8;
    margin-bottom: 1rem;
}

.hero-text p, .navbar a {
    font-size: 18px;
    color: var(--header-text-color);
}

/** main **/

.secret-sauce h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.quote p {
    font-size: 36px;
    font-style: italic;
}

blockquote::after, blockquote::before {
    font-size: 36px;
}

.quote figcaption {
    font-weight: 600;
}

/*** header ***/
.header {
    background-color: var(--primary-color);
}

.navbar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.navbar {
    display: flex;
    gap: 1rem;
}

.navbar a {
    text-transform: uppercase;
    padding: 0.25em 1.5em;
}

.navbar a:hover {
    background-color: var(--header-text-color);
    color: var(--primary-color);
    border-radius: 100px;
}

.header-flex {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 3rem 0;
}

.hero-text {
    flex: 1;
}

.hero-text p {
    margin-bottom: 1rem;
}

.hero-img {
    flex: 1;
}

.sign-up {
    background-color: var(--sign-up-color);
    padding: 0.5em 1.75em;
    border-radius: 5px;
}

/*** main ***/
.main {
    padding: 2rem 0;
}

/** secret-sauce section **/

.secret-sauce {
    padding-bottom: 3rem;
}

.card-container {
    display:flex;
}

.section-card {
    flex:1;
    margin: 2rem 1rem;
    text-align: center;
}

.section-card img {
    border-radius: 20px;
    border: 4px solid var(--sign-up-color);
    margin-bottom: 0.5rem;
}

/** quote section **/

.quote {
    background-color: var(--quote-bg-color);
    padding: 4rem 0;
}

.quote blockquote {
    display: flex;
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
    align-self: flex-end;
}

.quote figcaption {
    text-align: right;
    margin-top: 1rem;
}

/*** footer ***/

